.search-item {
  text-decoration: none;
  width: 100%;
  position: relative;
  background-color: white;
  box-sizing: border-box;
}

.search-item a{
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 0.5em;
}

.search-item:last-child {
  border-radius: 0 0 10px 10px;
}

.active{
  background: #cdcdce;
}
