.search-container {
  height: 100%;
  display: flex;
  justify-content: center;
  background: #3D6AF2;
  border-radius: 5px;
  font-size: 1.2rem;
}

.search-box {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 30%;
}

.search-input {
  border-radius: 5px;
  border: 3px solid #1F367A;
  padding: 0 0.5em;
  line-height: 2em;
  font-size: 1.1rem;
}

.search-input:focus {
  outline: 0;
}
