.search-container {

  height: 100%;
  display: flex;
  justify-content: center;
  background: rgb(197, 73, 73);

}

.search-box {
  display: block;
}

.search-input {
  border-radius: 1em;
  border: 5px solid rgb(128, 128, 128);
  line-height: 1.5em;
  margin: 1em;
}

.search-items-list {
  list-style-type: none;
  margin: 0;
}
